<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <appSettings>
        <add key="ProcessInputDirRecursively" value="true" />
        <add key="CleanupTempCompressedSymbols" value="true" />

        
        <add key="UseReferenceSourceServer" value="true" />
        <add key="DownloadSymbols" value="true" />
        <add key="DownloadSourceCode" value="true" />
        <add key="SkipExistingSourceFiles" value="true" />


        <add key="DefaultSymbolServerUrl" value="http://msdl.microsoft.com/download/symbols/" />
        <add key="ReferenceSourceServerUrl" value="http://referencesource.microsoft.com/symbols/" />
    </appSettings>

    <!--system.net>
        <defaultProxy>
            <proxy usesystemdefault="False" proxyaddress="http://192.168.100.24:8080" bypassonlocal="False" />
        </defaultProxy>
    </system.net-->

</configuration>